<div class="container top-30">
  <div class="row">
    <div class="col-md-3">
      <img [src]="artista.images | sinfoto" class="img-thumbnail img-circle">
    </div>
    <div class="col-md-9">
      <h1>{{ artista.name}}</h1>
      <hr>
      <a class="btn btn-outline-success" [href]="artista.external_urls?.spotify" target="_blank">Abrir en Spotify</a>
      <button type="button" class="btn btn-outline-danger" [routerLink]="['/search']">Volver</button>

    </div>
  </div>
  <hr>
  <h3>Top Tracks</h3>

  <div class="row">
    <div class="table table-dark">
      <thead>
        <tr>
          <th>#</th>
          <th>Foto</th>
          <th>Nombre</th>
          <th>Popularidad</th>
          <th>Escuchar</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let pista of toptracks; let i = index">
              <td>{{ i + 1 }}</td>
              <td><img [src]=" pista.album.images | sinfoto" class="img-50"></td>
              <td>{{ pista.name }}</td>
              <td>{{ pista.popularity }}</td>
              <td>
                <!-- <audio controls>
                    <source [src]="pista.preview_url">
                      Tu navegador es mu viejo
                </audio> -->
                <iframe [src]="pista.uri | domseguro:'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
              </td>
            </tr>

      </tbody>
    </div>
  </div>

</div>
